.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
li {
  list-style: none;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  text-align: left;
}
label {
  font-size: 25px;
  color: blue;
  letter-spacing: 1px;
}
label,
input {
  margin: 10px 0;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
